{% extends 'base.html.twig' %}

{% block title %}New Sav{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} Sav</h1>

    {{ include('sav/_form.html.twig') }}

    <a href="{{ path('sav_index') }}">{% trans %}retour à la liste{% endtrans %}</a>
{% endblock %}
