{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">{% trans %}retour à la liste{% endtrans %}</a>
{% endblock %}
